body {
  background-color: rgb(173, 204, 230);
  font-family: 'Open Sans', sans-serif;
}
h1 {
 text-align: center;
color:rgb(47, 0, 255);
font-family: 'Shadows Into Light', cursive;
font-size: 45px;
}
.imageoption {
  height:80px;  
  padding: 20px;
}

.showBorder{
border: 2px solid black;
}